.progressWrapper {
	background-color: #D3D3D3;
	padding: 10px;
}

/*Progress Bar by grade level that are broken down*/
.breakdown {
	margin-left: 5%;
}

.taskInput {
	padding: 2.5%;
}

.task {
	border-bottom: 1px solid gray;
}

.weekSum {
	text-align: center;
}

#btn-gradeDropdown {
	padding: 3px;
	font-size: 14px;
}