.radioDiv {
	text-align: center;
}

#loginButton {
	display: block;
	margin: auto;
	text-align: center;
}

th {
	text-align: center;
}

td {
	text-align: center;
	text-decoration: underline;
}

.tableHeader {
	background-color: #D9EDF7;
}

.tableRow3, .tableRow4 {
	background-color: #dff0d8;
}

.tableRow1, .tableRow2, .tableRow5, .tableRow6 {
	background-color: #F2DEDE;
}

.message {
	border-bottom: 1px solid gray;
	padding: 5px;
	background-color: lightgray;
	margin-bottom: 2px;
	border-radius: 5px;
}

.replyMessage {
	margin-left:5px;
	padding-left: 5px;
	border-bottom: 0.5px solid gray;
	margin-bottom: 5px;
	background-color: #d9edf7
}

.newmessage {
	margin-bottom:2px;
}