<data>
<event id='1' start_date='2016-10-19 07:00' end_date='2016-10-21 07:00' text='Parent Teacher Meetings' details='Arrange individual times with teacher.' />
<event id='2' start_date='2016-10-19 18:00' end_date='2016-10-19 20:00' text='Back to School Night' details='Begins in school cafeteria' />
<event id='3' start_date='2016-10-22 18:00' end_date='2016-10-22 21:00' text='Football: Home vs. Reagan HS' details='Nelson Field' />
<event id='4' start_date='2016-10-15 18:00' end_date='2016-10-15 21:00' text='Football: Away vs. Austin HS' details='House Park' />
<event id='5' start_date='2016-10-28 16:00' end_date='2016-10-28 19:00' text='Football: Home vs. McCallum HS' details='Nelson Field' />
<event id='6' start_date='2016-10-08 16:00' end_date='2016-10-08 19:00' text='Football: Home vs. Bowie HS' details='Nelson Field' />
<event id='7' start_date='2016-09-30 16:00' end_date='2016-09-30 19:00' text='Football: Away vs. Hutto HS' details='Burger Stadium' />
<event id='8' start_date='2016-10-05 16:00' end_date='2016-10-05 19:00' text='Volleyball: Away vs. Hutto HS' details='Delco Athletic Center' />
<event id='9' start_date='2016-10-13 16:00' end_date='2016-10-13 19:00' text='Volleyball: Home vs. Austin HS' details='Delco Athletic Center' />
<event id='10' start_date='2016-10-18 16:00' end_date='2016-10-18 19:00' text='Volleyball: Home vs. Reagan HS' details='Delco Athletic Center' />
<event id='11' start_date='2016-10-26 16:00' end_date='2016-10-26 19:00' text='Volleyball: Away vs. McCallum HS' details='Delco Athletic Center' />
<event id='12' start_date='2016-10-29 16:00' end_date='2016-10-30 19:00' text='College Visit: UT' details='Sign up in counselor office' />
<event id='13' start_date='2016-10-14 16:00' end_date='2016-10-14 19:00' text='College Application Process' details='Sign up in counselor office' />
<event id='14' start_date='2016-11-05 16:00' end_date='2016-11-05 19:00' text='Football: Away vs. Anderson HS' details='Burger Stadium' />
</data>